.gameResult {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
}

.gameBoard {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    width: 600px;
    height: 600px;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    font-size: 100px;
    font-family:'Courier New', Courier, monospace;
}


.top-left , .top-right , .bottom-left , .bottom-right {
    border: transparent;
}
.middle-left, .middle-right {
    border-left: transparent;
    border-right: transparent;
}
.bottom, .top {
    border-bottom: transparent;
    border-top: transparent;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playerContainer {
    display: flex;
    width: 600px;
    padding-top: 15px;
    justify-content: space-between;
}

.gameOptions {
    padding-top: 15px;
}