.gameResult {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.gameBoard {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    width: 600px;
    height: 600px;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}


.top-left,
.top-right,
.bottom-left,
.bottom-right {
    border: transparent;
}

.middle-left,
.middle-right {
    border-left: transparent;
    border-right: transparent;
}

.bottom,
.top {
    border-bottom: transparent;
    border-top: transparent;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playerContainer {
    display: flex;
    width: 600px;
    padding-top: 15px;
    justify-content: space-between;
}

.gameOptions {
    padding-top: 15px;
}





.custom-checkbox {
    width: 200px;
    height: 40px;
}

.custom-checkbox input#diffSelect {
    display: none;
}



.custom-checkbox input#diffSelect+label>.diff-switch {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: grey;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.custom-checkbox input#diffSelect+label>.diff-switch:before,
.custom-checkbox input#diffSelect+label>.diff-switch:after {
    border-radius: 2px;
    height: calc(100% - 6px);
    width: calc(50% - 3px);
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
}

.custom-checkbox input#diffSelect+label>.diff-switch:before {
    background-color: white;
    color: black;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    left: 3px;
    z-index: 10;
    content: attr(data-unchecked);
}

.custom-checkbox input#diffSelect+label>.diff-switch:after {
    right: 0;
    content: attr(data-checked);
}


.custom-checkbox input#diffSelect:checked+label>.diff-switch:after {
    left: 0;
    content: attr(data-unchecked);
}

.custom-checkbox input#diffSelect:checked+label>.diff-switch:before {
    left: 50%;
    content: attr(data-checked);
}